/*Primeiro requisito*/
ol {
    background-color: yellow;
}

ol li:nth-child(even){
    color: green;
} 
ol li:nth-child(odd){
    text-transform: uppercase;
}

h1, h2, h3{
    color: red;
}

/*Segundo requisito*/

h1, h2, h3 em:checked{
    font-size: 40px;
    border: 1px black solid
}