div:hover{
    border: 2px solid red;
}

.firtscolor:hover{
    background-color: brown;
}

.secondcolor:hover{
    background-color: green;
}

.complementarycolor:hover{
    background-color: yellow;
}

.darkcolor:hover{
    background-color: grey;
}

.brightcolour:hover{
    background-color: lightblue;
}

.firsth3{
    font-family: 'Courier New', Courier, monospace;

}

.secondh3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}

.complementaryh3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
}

.darkh3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.brighth3{
    font-family: fantasy;
}

div:nth-child(odd) h3{
    font-style: italic;
}