div:hover{
    border: 2px solid red;
}

.firtscolor:hover{
    border: 2px solid brown;
}

.secondcolor:hover{
    border: 2px solid green;
}

.complementarycolor:hover{
    border: 2px solid;
    border-color: orange rgba(170, 50, 220, .6);
}

.darkcolor:hover{
    border: 2px solid black;
}

.brightcolour:hover{
    border: 2px solid #FAEBD7;
}

.firsth3{
    font-family: 'Courier New', Courier, monospace;

}

.secondh3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}

.complementaryh3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
}

.darkh3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.brighth3{
    font-family: fantasy;
}