*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: snow;
}

/*Header*/
header{
    height: 120px;
    background-color: #4682B4;
    
}
h1{
    color: white;
    text-align: center;
    padding: 10px;
}
.nav-bar{
    text-align: center;
    letter-spacing:2px;
    padding: 10px;
    
    
}

.nav-bar li{
    display: inline-block;
    list-style-type: none;
    padding: 0px 10px;
    border: 1px solid white;
    border-radius: 5px;
}

.nav-bar li:hover{
    color: black;
    padding: 0px 10px;
    border: 1px solid black;
    border-radius: 5px;
    transition: 1s;
}

.nav-bar a{
    color: white;
    text-decoration: none;
}

.nav-bar a:hover{
    color: black;
    padding: 5px;
    transition: 1s;
}

h2, h3{
    text-align: center;
    padding: 10px;
}

.name-cientific{
    text-align: center;
    text-decoration-line:underline;
    padding: 15px;
}
table{
    margin: auto;
    
}

table, th, td{
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}



.stomatopoda-photo{
    max-width: 250px;
}

